<div class="title-slider">
  <h3>Our members</h3>
</div>
<swiper-container init="false">

        <swiper-slide>
            <div class="custom-slide">
                <mat-card class="custom-card" >
                    <mat-card-header>
                      <mat-card-title-group class="mat-card-title">
                        <mat-card-title>Benjamin</mat-card-title>
                        <mat-card-subtitle>Wood</mat-card-subtitle>
                        <img src="user.png"  alt="Image of a Shiba Inu">
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                      {{longText}}
                    </mat-card-content>
                </mat-card>
              </div>
        </swiper-slide>
    
        <swiper-slide>
            <div class="custom-slide">
                <mat-card class="custom-card" >
                    <mat-card-header>
                      <mat-card-title-group class="mat-card-title">
                        <mat-card-title>Rose</mat-card-title>
                        <mat-card-subtitle>Miller</mat-card-subtitle>
                        <img  src="user.png"  alt="Image of a Shiba Inu">
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                      {{longText}}
                    </mat-card-content>
                </mat-card>
              </div>
        </swiper-slide>
    
        <swiper-slide>
            <div class="custom-slide">
                <mat-card class="custom-card" >
                    <mat-card-header>
                      <mat-card-title-group class="mat-card-title">
                        <mat-card-title>Ethan</mat-card-title>
                        <mat-card-subtitle>Richards</mat-card-subtitle>
                        <img  src="user.png"  alt="Image of a Shiba Inu">
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                      {{longText}}
                    </mat-card-content>
                </mat-card>
              </div>
        </swiper-slide>
    
        <swiper-slide>
            <div class="custom-slide">
                <mat-card class="custom-card" >
                    <mat-card-header>
                      <mat-card-title-group class="mat-card-title">
                        <mat-card-title>Rachel</mat-card-title>
                        <mat-card-subtitle>James</mat-card-subtitle>
                        <img  src="user.png"  alt="Image of a Shiba Inu">
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                      {{longText}}
                    </mat-card-content>
                </mat-card>
              </div>
        </swiper-slide>
    
        <swiper-slide>
            <div class="custom-slide">
                <mat-card class="custom-card" >
                    <mat-card-header>
                      <mat-card-title-group class="mat-card-title">
                        <mat-card-title>Steve</mat-card-title>
                        <mat-card-subtitle>Lee</mat-card-subtitle>
                        <img  src="user.png"  alt="Image of a Shiba Inu">
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                      {{longText}}
                    </mat-card-content>
                </mat-card>
              </div>
        </swiper-slide>
    
        <swiper-slide>
            <div class="custom-slide">
                <mat-card class="custom-card" >
                    <mat-card-header>
                      <mat-card-title-group class="mat-card-title">
                        <mat-card-title>Jonathan</mat-card-title>
                        <mat-card-subtitle>Reynolds</mat-card-subtitle>
                        <img src="user.png"  alt="Image of a Shiba Inu">
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                      {{longText}}
                    </mat-card-content>
                </mat-card>
              </div>
        </swiper-slide>

</swiper-container>
    
<app-footer></app-footer>
