<div class="body-buttons">

    <div class="buttons-container">

        <div class="row">

            <div class="col seven-buttons">
                <button mat-fab class="custom-button">
                    <img src="b5.webp" alt="">
                </button>
                <button mat-fab class="custom-button">
                    <img src="b4.webp" alt="">
                </button>
                <button mat-fab class="custom-button">
                    <img src="b6.webp" alt="">
                </button>
                <button mat-fab class="custom-button">
                    <img src="b7.webp" alt="">
                </button>
                <button mat-fab class="custom-button">
                    <img src="b2.webp" alt="">
                </button>
                <button mat-fab class="custom-button">
                    <img src="b1.jpg" alt="">
                </button>
                <button mat-fab class="custom-button">
                    <img src="b3.webp" alt="">
                </button>
            </div>

            <div class="col clear-container">
                <button mat-fab class="button-clear">
                    Clear filters
                    <mat-icon class="icon-delete">delete</mat-icon>
                </button>
            </div>

        </div>

    </div>
    
</div>
