.body-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.buttons-container{
    width: 90%;
    margin: 25px 0 25px 0;
    text-align: center;
}

.custom-button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #2196f3; 
    box-shadow: none;
    margin: 10px;
}

.custom-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.custom-button:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.button-clear{
    width: 175px;
    height: 53px;
    border-radius: 50px;
    box-shadow: none;
    margin-top: 30px;
    margin-right: 20px;
    color: black;
    background-color: white;
    border: 1px solid #2196f3;
    gap: 5px;
}

.button-clear:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.icon-delete{
    color: red;
}

.clear-container{
    flex: 0 0 auto;
    width: 33.33%;
}

@media (max-width: 600px) {

    .clear-container{
        flex: 0 0 auto;
        width: 100%;
    }
}


/* Sidebar*/

.sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background: #fff;
    border-right: 1px solid #ddd;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    padding: 0.5rem;
    z-index: 500;
    overflow-y: auto;
}
  

.sidebar.open {
    left: 0;
}
  

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Overlay from sidebar*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 499;
}

mat-slider {
    width: 200px;
}


/*Width to min and max inputs*/
.min-max-input{
    display: flex;
    gap: 10px;
}

.min-form, .max-form {
    width: 100px;
}
  
  
  

