<div class="body-buttons">

    <div class="buttons-container">

        <div class="row">

            <div class="col seven-buttons">
                <button mat-fab class="custom-button" (click)="onShowSidebar(); loadClasifications()">
                    <img src="b5.webp" alt="">
                </button>
                <button mat-fab class="custom-button">
                    <img src="b4.webp" alt="">
                </button>
                <button mat-fab class="custom-button">
                    <img src="b6.webp" alt="">
                </button>
                <button mat-fab class="custom-button">
                    <img src="b7.webp" alt="">
                </button>
                <button mat-fab class="custom-button">
                    <img src="b2.webp" alt="">
                </button>
                <button mat-fab class="custom-button">
                    <img src="b1.jpg" alt="">
                </button>
                <button mat-fab class="custom-button">
                    <img src="b3.webp" alt="">
                </button>
            </div>

            <div class="col clear-container">
                <button mat-fab class="button-clear">
                    Clear filters
                    <mat-icon class="icon-delete">delete</mat-icon>
                </button>
            </div>

        </div>

    </div>
    
</div>

<!-- Sidebar with options -->

<div class="sidebar" [class.open]="showSidebar">

    <div class="sidebar-header">
      <h5>Filters</h5>
      <button class="btn-close" (click)="onShowSidebar();"></button>
    </div>
  
    <!-- Options list -->
    <div class="list-group">
        
        <div *ngFor="let c of clasifications; let i = index">
      
          <button
            class="list-group-item list-group-item-action text-start"
            (click)="selectClasification(c)"
            >
            {{ c.clasification_name }}
          </button>
      
          <!-- Container to show -->
          <div *ngIf="clasificationSelected == c" class="p-3 border rounded bg-light">

                <div *ngFor="let p of clasificationSelected.properties">
                    
                    <label class="form-label">
                        {{p.name}}
                    </label>
                    
                        <mat-slider [min]="p.min" [max]="p.max" step="1" discrete="true" range>
                            <input matSliderStartThumb>
                            <input matSliderEndThumb>
                        </mat-slider>
                        
                        <div class="min-max-input">

                            <mat-form-field class="min-form">
                                <mat-label>Min value</mat-label>
                                <input matInput type="number" [(ngModel)]="p.min">
                            </mat-form-field>
        
                            <mat-form-field class="max-form">
                                <mat-label>Max value</mat-label>
                                <input matInput type="number"  [(ngModel)]="p.max">
                            </mat-form-field>

                        </div>
            
                    <label class="form-label mt-2">Unit</label>
                    <select id="unit-{{i}}" class="form-select" >
                        <option [value]="p.standardized_unit" selected>{{p.standardized_unit}}</option>
                    </select>

                </div>
                
          </div>
      
        </div>
      </div>
    
</div>

<!-- Overlay sidebar -->
<div 
  class="overlay" 
  *ngIf="showSidebar" 
  (click)="onShowSidebar(); selectClasification(null)">
</div>



