/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;


html, body { 
  height: 100%;
  width: 100%;
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 

}


$brown-color: #211b00ff !important;
$white-color: #ffffff !important;
$blue-light-color: #d6e3ff !important;
$blue-color: #4574b5ff !important;
$blue-dark-color: #00468cff !important;

.dark {
  
    background-color: $blue-dark-color;
    color: $white-color;

    button {

        color: $white-color;
    
        &:hover {
          background-color: #555;
        }
    }

}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.form-field-overrides((
    container-color: #ffffff,
  ));
}

::ng-deep .mat-dialog-container {
  border-radius: 0 !important; /* <-- Esto elimina las esquinas redondeadas */
}


/*   -------------------         HTML Dialog Periodic table                ---------------------------------*/

@media (min-width: 1024px) {

  
  .cdk-overlay-pane .mat-mdc-dialog-surface {
    width: 70vw !important;
    height: 75vh !important;
    max-width: none !important;
    max-height: none !important;
    left: 50% !important;
    transform: translate( -50%, 2%) !important;
  }
  

}


/* Pantallas medianas */
@media (max-width: 1023px) {

  .cdk-overlay-pane .mat-mdc-dialog-surface {
    width: 80vw;
    height: 37vh;
  }

}

/* Pantallas pequeñas */
@media (max-width: 599px) {

  .cdk-overlay-pane .mat-mdc-dialog-surface {
    width: 90vw;
    height: 37vh;
  }

}

