
<div class="">

      <table mat-table [dataSource]="dataSource" class="custom-table">        
           
            <ng-container matColumnDef="formula">
              <th mat-header-cell *matHeaderCellDef> Formula </th>
              <td mat-cell *matCellDef="let element"> {{element.formula}} </td>
            </ng-container>
        
            
            <ng-container matColumnDef="clasification">
              <th mat-header-cell *matHeaderCellDef> Classification </th>
              <td mat-cell *matCellDef="let element"> {{element.clasification}} </td>
            </ng-container>
        
            
            <ng-container matColumnDef="hardnes">
              <th mat-header-cell *matHeaderCellDef> Hardness </th>
              <td mat-cell *matCellDef="let element"> {{element.hardnes}} </td>
            </ng-container>
        
            <ng-container matColumnDef="crystals">
              <th mat-header-cell *matHeaderCellDef> Crystal system </th>
              <td mat-cell *matCellDef="let element"> {{element.crystals}} </td>
            </ng-container>
        
            <ng-container matColumnDef="references">
              <th mat-header-cell *matHeaderCellDef> References </th>
              <td mat-cell *matCellDef="let element"> {{element.references}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                         showFirstLastButtons
                         aria-label="Select page of periodic elements">
          </mat-paginator>
        
</div>
  
