table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

@media (max-width: 450px) {

  .custom-table th, .custom-table td {
    padding: 0;
    text-align: center;
    font-size: smaller;
  }

}

