.footer {
    display: flex;    /* Utiliza Flexbox para alinear los elementos */
    bottom: 0;        /* Asegura que esté pegado al fondo de la página */
    width: 100%;      /* El footer ocupa todo el ancho */
    height: 25%;
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: center; /* Centra elementos horizontalmente*/
    padding: 10px;    /* Espaciado interno */
    background-color: #295da6ff; /* Un fondo oscuro para el footer, puedes cambiarlo */
    color: white;     /* Color de la fuente */
    gap: 150px;
}

.logos {
    display: flex;
    gap: 90px;
    align-items: center;
    justify-content: center;
}

.ipn-image{
    width: 80px;  /* Ajusta el ancho */
    height: 110px; /* Mantiene la proporción */
}

.ucsd-image{
    width: 320px;  /* Ajusta el ancho */
    height: 140px; /* Mantiene la proporción */
}

span {
    font-size: xx-large;
}

a {
    color: white;     /* Color blanco para los enlaces */
    margin: 0%;   /* Espaciado entre los enlaces */
    text-decoration: none;  /* Elimina el subrayado */
    font-size: xx-large;
}

@media ( max-width: 1280px ) {  /* ------  tablet   ------  */

    .footer {
        display: flex;    /* Utiliza Flexbox para alinear los elementos */
        align-items: center; /* Centra los elementos verticalmente */
        justify-content: center; /* Centra elementos horizontalmente*/
        height: 15%;
        font-size: 14px;  /* Tamaño de la fuente */
        gap: 70px;
    }

    .logos {
        display: flex;
        gap: 70px;
    }
    
    .ipn-image{
        width: 50px;  /* Ajusta el ancho */
        height: 70px; /* Mantiene la proporción */
    }
    
    .ucsd-image{
        width: 180px;  /* Ajusta el ancho */
        height: 70px; /* Mantiene la proporción */
    }
    
    span {
        font-size: x-large;
    }
    
    a {
        text-decoration: none;  /* Elimina el subrayado */
        font-size: x-large;
        margin: 0%;
    }

}

@media ( max-width: 1024px ) {  /* ------  tablet   ------  */

    .footer {
        display: flex;    /* Utiliza Flexbox para alinear los elementos */
        margin-top: 30px;
        height: 28%;
        align-items: center; /* Centra los elementos verticalmente */
        justify-content: center; /* Centra elementos horizontalmente*/
        gap: 60px;
    }

    .logos {
        display: flex;
        gap: 60px;
    }
    
    .ipn-image{
        width: 40px;  /* Ajusta el ancho */
        height: 60px; /* Mantiene la proporción */
    }
    
    .ucsd-image{
        width: 170px;  /* Ajusta el ancho */
        height: 60px; /* Mantiene la proporción */
    }
    
    span {
        font-size: large;
    }
    
    a {
        text-decoration: none;  /* Elimina el subrayado */
        font-size: large;
        margin: 0%;
    }

}

@media ( max-width: 912px ) {  /* ------  tablet   ------  */

    .footer {
        padding-top: 20px;
        height: 25%;
        gap: 25px;
    }

    .logos {
        gap: 40px;
    }
    
    .ipn-image{
        width: 50px;  /* Ajusta el ancho */
        height: 70px; /* Mantiene la proporción */
    }
    
    .ucsd-image{
        width: 150px;  /* Ajusta el ancho */
        height: 60px; /* Mantiene la proporción */
    }
    
    span {
        font-size: large;
    }
    
    a {
        font-size: large;
        margin: 0%;
    }

}

@media ( max-width: 820px ) {

    .footer {
        padding-top: 20px;
        height: 25%;
        gap: 25px;
    }

    .logos {
        gap: 30px;
    }
    
    .ipn-image{
        width: 40px;  /* Ajusta el ancho */
        height: 60px; /* Mantiene la proporción */
    }
    
    .ucsd-image{
        width: 140px;  /* Ajusta el ancho */
        height: 50px; /* Mantiene la proporción */
    }
    
    span {
        font-size: medium;
    }
    
    a {
        font-size: medium;
        margin: 0%;
    }

}

@media ( max-width: 640px ) {  /* ------  tablet   ------  */

    .footer {
        display: flex;    /* Utiliza Flexbox para alinear los elementos */
        align-items: center; /* Centra los elementos verticalmente */
        justify-content: center; /* Centra elementos horizontalmente*/
        gap: 30px;
    }

    .logos {
        display: flex;
        gap: 30px;
    }
    
    .ipn-image{
        width: 20px;  /* Ajusta el ancho */
        height: 30px; /* Mantiene la proporción */
    }
    
    .ucsd-image{
        width: 90px;  /* Ajusta el ancho */
        height: 30px; /* Mantiene la proporción */
    }
    
    span {
        font-size: small;
    }
    
    a {
        text-decoration: none;  /* Elimina el subrayado */
        font-size: small;
        margin: 0%;
    }

}

@media ( max-width: 540px ) {  /* ------  tablet   ------  */

    .footer {
        display: flex;    /* Utiliza Flexbox para alinear los elementos */
        width: 100%;      /* El footer ocupa todo el ancho */
        height: 28%;
        flex-direction: column;
        align-items: center; /* Centra los elementos verticalmente */
        justify-content: center; /* Centra elementos horizontalmente*/
        gap: 10px;
    }

    .logos {
        display: flex;
        gap: 30px;
    }
    
    .ipn-image{
        width: 40px;  /* Ajusta el ancho */
        height: 50px; /* Mantiene la proporción */
    }
    
    .ucsd-image{
        width: 115px;  /* Ajusta el ancho */
        height: 50px; /* Mantiene la proporción */
    }
    
    span {
        font-size: medium;
    }
    
    a {
        text-decoration: none;  /* Elimina el subrayado */
        font-size: medium;
        margin: 0%;
    }

}



