.fixed-button {
    position: fixed;
    right: 5vw;
    top: 50vh;
    z-index: 50;
    background-color: transparent; /* Fondo transparente */
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
  
.fixed-button img {
    width: 100%; /* Ajusta la imagen al tamaño del botón */
    height: 100%;
    object-fit: contain; /* Mantiene la proporción */
    border-radius: 50%;
    margin-top: 3px;
}

  

