.floating-button {
    position: fixed;
    right: 5vw; /* 5% del ancho de la pantalla */
    top: 75vh;  /* 50% de la altura de la pantalla */
    z-index: 5;
}

.health-icon {
    color:rgb(2, 36, 109);
}
