<mat-toolbar [ngClass]="['mattoolbar-navigationbar', themeService.themeSignal() ]">
  @if (isHandset$ | async) {
    <button
      class="sidenav-toggle-icon"
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()">
      <mat-icon [ngClass]="['menu-icon', themeService.themeSignal() ]" aria-label="sidenav toggle icon" style="color: #4574b5ff;">menu</mat-icon>
    </button>
  }
    <span class="toolbar-title">
      <mat-icon class="fire-icon">fireplace</mat-icon>
      <a routerLink="main-page" style="text-decoration: none;" [ngClass]="[ themeService.themeSignal() ]">The ultra-high temperature database</a>
    </span>
      
      <span class="spacer"></span>
        <!-- buttons -->
        <div class="buttons hide-on-mobile">
          <ng-container *ngTemplateOutlet="buttonsTemplate"></ng-container>
        </div>
</mat-toolbar>


<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer [ngClass]="['sidenav', themeService.themeSignal() ]" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar [ngClass]="['title-sidetoolbar', themeService.themeSignal() ]"><mat-icon>fireplace</mat-icon>UHTDB</mat-toolbar>
    <mat-nav-list class="buttons-sidebar">
      <ng-container *ngTemplateOutlet="buttonsTemplate"></ng-container>
      <button mat-button style="color: #4574b5ff;" (click)="drawer.close()">Cerrar</button>
    </mat-nav-list>
  </mat-sidenav>

</mat-sidenav-container>


<ng-template #buttonsTemplate class="template-buttons">
  
    <button mat-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" style="color: #4574b5ff;">Resources
      <mat-icon [class.rotate]="menuTrigger.menuOpen">expand_more</mat-icon>
    </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item style="color: #4574b5ff;">resource 1</button>
        <button mat-menu-item style="color: #4574b5ff;">resource 2</button>
      </mat-menu>
    <button mat-button [matMenuTriggerFor]="menu2" #menuTrigger2="matMenuTrigger" style="color: #4574b5ff;">About
      <mat-icon [class.rotate]="menuTrigger2.menuOpen">expand_more</mat-icon>
    </button>
      <mat-menu #menu2="matMenu">
        <button mat-menu-item style="color: #4574b5ff;">about 1</button>
        <button mat-menu-item style="color: #4574b5ff;">about 2</button>
      </mat-menu>
    <button mat-button style="color: #4574b5ff;">API</button>
    <button mat-button style="color: #4574b5ff;"  routerLink="filters" >Login</button>
    <button mat-button style="color: #4574b5ff;" title="translate"><mat-icon>translate</mat-icon></button>  

  @if (themeService.themeSignal() === 'light') {
    <button (click)="toggleTheme()"  mat-button style="color: #4574b5ff;" title="light">
      <mat-icon>light_mode</mat-icon>
    </button>
  } @else {
    <button (click)="toggleTheme()" mat-button style="color: #4574b5ff;" title="dark">
      <mat-icon>dark_mode</mat-icon>
    </button>
  }

</ng-template>


