.footer {
    bottom: 0;        /* Asegura que esté pegado al fondo de la página */
    width: 100%;      /* El footer ocupa todo el ancho */
    height: 20%;
    display: flex;    /* Utiliza Flexbox para alinear los elementos */
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: center; /* Centra elementos horizontalmente*/
    padding: 10px;    /* Espaciado interno */
    font-size: 14px;  /* Tamaño de la fuente */
    background-color: #295da6ff; /* Un fondo oscuro para el footer, puedes cambiarlo */
    color: white;     /* Color de la fuente */
    gap: 50px;
}

.ipn-image{
    width: 50px;  /* Ajusta el ancho */
    height: 70px; /* Mantiene la proporción */
}

.ucsd-image{
    width: 180px;  /* Ajusta el ancho */
    height: 70px; /* Mantiene la proporción */
}

span {
    font-size: x-large;
}

a {
    color: white;     /* Color blanco para los enlaces */
    margin: 0 10px;   /* Espaciado entre los enlaces */
    text-decoration: none;  /* Elimina el subrayado */
    font-size: x-large;
}

@media ( max-width: 1090px ) {  /* TABLET y móviles */

    .footer {
        display: flex;    /* Utiliza Flexbox para alinear los elementos */
        flex-direction: column;
        width: 100%;      /* El footer ocupa todo el ancho */
        height: 30%;
        gap: 10px;  /* Reduce el espacio entre elementos */

    }

    .logos {
        flex-direction: column;
        gap: 5px;
    }

    .ipn-image{
        width: 30px;  /* Ajusta el ancho */
        height: 50px; /* Mantiene la proporción */
    }
    
    .ucsd-image{
        width: 90px;  /* Ajusta el ancho */
        height: 60px; /* Mantiene la proporción */
    }

    span, a {
        font-size: 1rem; /* Reduce el tamaño de fuente */
    }
}

