.body-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.input-container {
    width: 90%;
    text-align: center;
    margin: 15px 0 15px 0;
}

.first-form {
    display: flex;
    justify-content: center;
    gap: 15px;
}
  
 
.periodic-table-button {
    height: 53px;
    width: 53px;
    box-shadow: none;
    border-radius: 10px;
    background-color: white;
    margin-top: 6px;
}

.periodic-table-button:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
  
.periodic-table-button img {
    height: 86%;
    width: 86%;
}

.input-delete-icon{
    color: red;
}

.input-button-delete{
    box-shadow: none;
    background-color: white;
}

/* between 821 and 1025*/
@media (min-width: 821px) and (max-width: 1025px) {
    .input-container {
        width: 724px;
    }
}

/* Periodic table style component*/
.full-dialog .mat-dialog-container {
    padding: 0;
    border-radius: 0;
    height: 100vh;
  }

