<div class="body-inputs">

  <div class="input-container">

    <div class="row">

      <div class="col first-input">

        <form class="first-form">
          <mat-form-field class="first-form-field">
            <mat-label>Filter by element</mat-label>
            <input type="text" matInput >
            <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
          </mat-form-field>
          <button mat-fab class="periodic-table-button" (click)="openDialog('0ms' , '0ms')">
            <img src="periodic-table.png" alt="button" />
          </button>
        </form>
        
      </div>

      <div class="col">

        <form class="second-form">
          <mat-form-field class="example-full-width">
            <mat-label>Search by name</mat-label>
            <input type="text" matInput>
            <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
          </mat-form-field>
          <button mat-fab class="input-button-delete">
            <mat-icon class="input-delete-icon">delete</mat-icon>
          </button>
        </form>

      </div>

      <div class="col">

        <form class="third-form">
          <mat-form-field class="example-full-width">
            <mat-label>Search by composition</mat-label>
            <input type="text" matInput >
            <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
          </mat-form-field>
          <button mat-fab class="input-button-delete">
            <mat-icon class="input-delete-icon">delete</mat-icon>
          </button>
        </form>

      </div>
      
    </div>

</div>

</div>

<app-buttons></app-buttons>

<app-cards-button></app-cards-button>

<app-tables></app-tables>

<app-footer></app-footer>

