<div class="body-table">

  <div class="table-container">

    <div class="row">

      <div class="col">

        <div class="periodic-table">

          <div
            *ngFor="let el of elements"
            class="element"
            [ngClass]="[el.category, selected.includes(el.symbol) ? 'selected' : '']"
            [style.gridColumn]="el.group"
            [style.gridRow]="el.period"
            (click)="toggle(el.symbol)"
            title="{{ el.symbol }}"
            (mouseenter)="hoveredElement = el"
            (mouseleave)="hoveredElement = null"
          >
            <span>{{ el.symbol }}</span>
          </div>

          <!--  Hover element with labels -->
          <div
            class="element-info"
            *ngIf="hoveredElement"
            style="grid-column: 3 / span 2; grid-row: 2 / span 2;"
          >
            <div class="info-content">
              <div class="symbol">{{ hoveredElement.symbol }}</div>
              <div class="name">{{ hoveredElement.name }}</div>
              <div class="category">{{ hoveredElement.category }}</div>
            </div>
          </div>

          
        </div>

      </div>

    </div>

  </div>

</div>

<!--  Accept and cancel butons  -->

    <div class="button-accept-cancel">
      <button mat-fab class="btns-custom btns-accept">Submit</button>
      <button mat-fab class="btns-custom btns-cancel">Cancel</button>
    </div>    


