.body-table{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.table-container {
  width: 90%;
  text-align: center;
  margin: 15px 0 15px 0;
}

.periodic-table {
  display: grid;
  grid-auto-rows: calc(3vw);
  grid-template-columns: repeat(18, 1fr);
  gap: 2px;
  padding: 5px;
  background-color: #f9f7fc;
  border-radius: 0; 
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 1em;
  font-weight: 600;
  background-color: #ffffff;
  border: 1px solid #ccc;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  padding: 2px;
  font-family: 'Times New Roman', Times, serif;
}

/* Hover visual */
.element:hover {
  background-color: #e3f2fd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Elemento seleccionado */
.element.selected {
  background-color: #4caf50;
  color: white;
  border-color: #388e3c;
}

/*  Hovered Element  */

.element-info {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #444;
  background: white;
  color: black;
  font-weight: bold;
  border-radius: 8px;
}

.info-content {
  text-align: center;
}

.info-content .symbol {
  font-size: 2rem;
}

.info-content .name {
  font-size: 1rem;
}

.info-content .category {
  font-size: 0.9rem;
  color: gray;
}


@media (max-width: 1023px) {

  .element {
    font-size: 0.8em;
    padding: 0px;
  }

}


/* Pantallas pequeñas, estilo botones periodic table */
@media (max-width: 599px) {

  .periodic-table {
    grid-auto-rows: calc(5.2vw);
    grid-template-columns: repeat(18, minmax(14.5px, 1fr));
  }
  .element {
    font-size: 0.5em;
    padding: 0px;
  }
}

/* Color elements*/

.nonmetal {
  background-color: #abcacc; 
}

.noble-gas {
  background-color: #d2c0ed; 
}

.alkali-metal {
  background-color: #8d9e47; 
}

.alkaline-earth-metal {
  background-color: #d9e366; 
}

.transition-metal {
  background-color: #edff91; 
}

.lanthanoid {
  background-color: #b39ddb; 
}

.actinoid {
  background-color: #90caf9; 
}

.metalloid {
  background-color: #8fc2a4; 
}

.post-transition-metal {
  background-color: #bcaaa4; 
}

.halogen {
  background-color: #7a959e; 
}

.lanthanide {
  background-color: #e8a87d; 
}

.actinide {
  background-color: #eb6e60;
}

.unknown {
  background-color: #c7c7c7; 
}

/* Full Screen*/
.button-accept-cancel {
  display: flex;
  justify-content: center; /* centra horizontalmente */
  gap: 10px;               /* espacio entre botones */
}

.btns-custom {
  background-color: #f9f7fc; 
  color: #000000 ;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: none;
  box-shadow: none;
  width: 80px;
  height: 50px; 
}

.btns-accept{
  color: #295da6;
}

.btns-cancel{
  color: red;
}

/* Pantallas medianas */
@media (max-width: 1023px) {
  
  .btns-custom {
    height: 30px; 
  }

}

/*   Small screens */
@media (max-width: 599px) {

  .button-accept-cancel {
    display: flex;
    justify-content: center;
    gap: 5px;               
  }
  
  .btns-custom {
    font-size: 12px;
    font-weight: 600;
    box-shadow: none;
    border: none;
    width: 80px;
    height: 20px; 
  }
}




