<mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile class="tile-one">
        <img [src]="themeService.currentImage" alt="">
        <div class="twotext-container">
            <div class="text-left">
                <h1>The Ultra-High<br>Temperature<br>Materials Database</h1>
                <p>Unlocking the potential of extreme materials</p>
                <button mat-button class="button-register">Register</button>
                <button mat-button class="button-login" >Login</button>
            </div>
            <div class="text-right">
                <p>The Ultra-High Temperature<br>Materials (UHTMs) platform<br>provides open online access to<br>experimental data published in<br>
                    scientific papers on these<br>remarkable materials. Our<br>materials explorer, equipped<br>with powerful and diverse<br>search filters and cutting-edge<br>
                    programming technology,<br>empowers users to view, review,<br>and analyze a wide range of<br>properties.
                </p>
            </div> 
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="dbimage-text-container">
            <div class="images-left-container">
                <h3>What we offer?</h3>
                <img  src="db.jpg"  class="db-image" alt="">
                <img  src="analytic.jpg"  class="graph-image" alt="">
            </div>
            <div class="text-right-container">
                <h3 class="card-subtitle">Our reliability</h3>
                <p class="card-paragraph">
                     All data is obtained from scientific sources<br><br>Mauris imperdiet orci dapibus, commodo libero nec, interdum tortor. Morbi in<br>nibh faucibus, iaculis lorem vitae, cursus velit. Etiam non blandit ex. Mauris in<br>
                     fringilla velit. Fusce eu dictum neque. Maecenas tristique sem neque, vel<br><br>Integer ac interdum lacus. Nunc porta semper lacus a varius. Pellentesque<br>habitant morbi tristique senectus et netus et malesuada fames ac turpis<br>
                     egestas. Nunc sagittis consectetur velit, ac gravida nunc gravida et.<br><br>Phasellus risus turpis, pretium sit amet magna non, molestie ultrices enim.<br>Nullam pulvinar felis at metus malesuada, nec convallis lacus commodo. Duis<br>
                     blandit neque purus, nec auctor mi sollicitudim nec. Duis urna ipsum, tincidunt,<br>at euismod ut, placerat eget urna. Curabitur nec faucibus leo, et laoreet nibh.<br>Pellentesque euismod quam at eros efficitur, vitae venenatis sem consectetur.<br>
                     Donec ut risus ultricies, dictum neque at, bibendum purus. In hac habitasse<br>platea dictumst.
                </p>
            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="third-tile-container">
            <div class="third-title">
                <h3>How to contribute</h3>
            </div>
            <div class="third-pharagrap">
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna<br>aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                no sea<br>takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy<br>eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                justo duo<br>dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.<br>

                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna<br>aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                no sea<br>takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy<br>eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo.
              </p>
            </div>
        </div>
    </mat-grid-tile>

</mat-grid-list>

<app-slider></app-slider>

